@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 40%;
  border: 1.5px solid white;
  border-radius: 7px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: bisque;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  list-style: none;
  padding: 20px 22px;
  background-color: bisque;
}

.nav-list li a {
  text-decoration: none;
  color: black;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
}

.nav-list li a:hover {
  color: crimson;
}

.background {
  background: rgb(255, 228, 196) url("../img/bg.png");
  background-size: cover;
  background-blend-mode: darken;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  height: 85%;
}

.firstSection {
  height: 95vh;
}

.firstHalf {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.text-big {
  font-size: 31px;
  text-align: center;
}
.text-small {
  font-size: 25px;
  text-align: center;
}

.body {
  background-color: bisque;
}

.contactus {
  font-family: "Dosis", sans-serif;
}

.heading {
  font-family: "Yusei Magic", sans-serif;
  font-size: 2rem;
  color: rgb(252, 252, 252);
}

.containers {
  font-family: "Dosis", sans-serif;
  letter-spacing: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 9vh;
}

.btn-2 {
  width: 200px;
  height: 70px;  
  border: none;
  color: aliceblue;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none ;
  border: 3px solid #fc5252;
  position: relative;
  z-index: 1;

}

.btn-2:hover {
  color: aliceblue;
  cursor: pointer;
}

.btn-2:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #fc5252;
}


.btn-2:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
