@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

/* .logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 40%;
  border: 1.5px solid white;
  border-radius: 7px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: bisque;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  list-style: none;
  padding: 20px 22px;
  background-color: bisque;
}

.nav-list li a {
  text-decoration: none;
  color: black;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.nav-list li a:hover {
  color: crimson;
} */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: bisque;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 42%;
}

.nav-links a{
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 15px;
}

.hamburger{
  display: none;
}

.hamburger div{
  width: 25px;
  height: 3px;
  background-color: rgb(46, 46, 45);
  margin: 5px;
  transition: all 0.5s ease;
}

@media screen and (max-width:1024px){
  .nav-links {
    width: 60%;
  }

}

@media screen and (max-width:768px){
  .body{
    overflow-x: hidden;
  }

  .nav-links{
    position: absolute;
      right: 0px;
      width: 50%;
      height: 50vh;
      top: 8vh;
      background-color: bisque;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);

  }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}


.logo {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  border: 1.5px solid white;
  border-radius: 7px;
}

.background {
  background: rgb(255, 228, 196) url("../img/bg.png");
  background-size: cover;
  background-blend-mode: darken;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  height: 85%;
}

.firstSection {
  height: 95vh;
}

.firstHalf {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.text-big {
  font-size: 31px;
  text-align: center;
}
.text-small {
  font-size: 25px;
  text-align: center;
}

.body {
  background-color: bisque;
}

.contactus {
  font-family: "Dosis", sans-serif;
}

.heading {
  font-family: "Yusei Magic", sans-serif;
  font-size: 2rem;
  color: rgb(252, 252, 252);
}

.containers {
  font-family: "Dosis", sans-serif;
  letter-spacing: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 9vh;
}

.btn-2 {
  width: 200px;
  height: 70px;
  border: none;
  color: rgb(235, 232, 232);
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;
  border: 3px solid #000000;
  position: relative;
  z-index: 1;
  margin: 5px;
  background-color: #000000;
}

.btn-2:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.btn-2:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #fefafa;
}

.btn-2:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.btn-1 {
  width: 200px;
  height: 70px;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;
  border: 3px solid #000000;
  position: relative;
  z-index: 1;
  margin: 5px;
}

.btn-1:hover {
  color: aliceblue;
  cursor: pointer;
}

.btn-1:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #000000;
}

.btn-1:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
  background-color: #333;
  color: #fff;
}

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
